# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/*.iml
/target/
/*.classpath
/*.project
/.settings
/.gradle
/social-graph-api/*.classpath
/social-graph-api/*.project
/social-graph-api/.settings
/social-graph-api/bin
/social-graph-api/build
/social-graph-service/*.classpath
/social-graph-service/*.project
/social-graph-service/.settings
/social-graph-service/bin
/social-graph-service/build